body {
   

    background-color: aquamarine;
}
.homePage-container {
    display: grid;
   
}
.header-container{
    display:grid;
    justify-content: center;
    vertical-align: bottom;


}
.button-area{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 80%;
}
.begin-button-container{
    
    
   
    cursor: pointer;
    display: grid;
    text-align:center;
    width: 50px;
    height: 50px;
    font-style: italic;
    color: aliceblue;

}
.begin-button-container button{
    background: black;
    color: white;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
.begin-button-container a{
    color: white;

}
.begin-button-container a:hover{
    background-color: bisque;
    color: brown;
}
.begin-button-container  a:active, a:visited{
    color: white;
    text-decoration: none;
    cursor: pointer;
    
    
}
