body {
   

    background-color: aquamarine;
}
.profile-container {
    display: grid;
   
}
.header-container{
    display:grid;
    justify-content: center;
    vertical-align: bottom;


}
.player-container{
    display: flex;
    /* position: relative; */
    width: 100%;
    height: 600%;
    text-align: left;
    top: 200px;
    flex-direction: column;
    background-color: beige;
    border: solid ;
    
    
}

.player-container p{
    
    font-size: 18px;
    align-items: center;
    justify-content: center;
    
    /* top: 70px;
    left: 3px; */
}
.player-text-box{
   display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 50%;
    left: 50px;
}
.player-text-box input{
    width: 200px;
    border: solid brown;
    background-color: white;
}
.submit-container{
    display: flex;
    justify-content: center;
}
.difficulty-box{
    width: 100px;
}
.number-box{
    background-color: white;
    width: 100px;
}
.type-container{
    display: flex;
    position: relative;
    flex-direction: column;
    
}
.number-of-questions-container{
    display: flex;
    flex-direction: column;

}
.difficulty-container{
    display: flex;
    position: relative;
    flex-direction: column;
    left: 70%;
}
.submit-container input{
    width: 100px;
    height: 50px;
}
.player-container form{
    height: 100%;
    background-color: red;
    
    display: flex;
    justify-content: space-between;
    flex-direction:column;
    
    
    /* vertical-align:middle;
    justify-content: flex-start; */

  
   
}
.player-container form i{
    text-align: center;
}
.player-container form input:nth-child(2){
    background: red;
    border: solid brown 6px ;
}

.player-container form input:nth-child(3){
    background: red;

}
