body {
   

    background-color: aquamarine;
}
.profile-container {
    display: grid;
   
}
.header-container{
    display:grid;
    justify-content: center;
    vertical-align: bottom;


}
.player-container{
    display: grid;
    position: relative;
    width: 300px;
    height: 300px;
    text-align: left;
    top: 200px;
    border: solid ;
    
    
}

.player-container p{
    position: relative;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    top: 70px;
    left: 3px;
}
.player-container form{
    background-color: red;
   
    display: grid;
  
   
}
.player-container form i{
    text-align: center;
}
.player-container form input:nth-child(2){
    background: red;
    border: solid brown 6px ;
}

.player-container form input:nth-child(3){
    background: red;

}
